<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tourist Spots</title>
    <!-- 여기에 필요한 CSS 및 JavaScript 파일을 포함할 수 있습니다 -->
</head>
<body>
<h1>Tourist Spots</h1>



<!-- 캠핑 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllCampingSpots}" method="GET">
    <button type="submit">모든 지역 캠핑 정보 업데이트</button>
</form>

<!-- 관광지 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllTouristSpots}" method="GET">
    <button type="submit">모든 지역 관광지 정보 업데이트</button>
</form>


<br><br><br>

<!-- 음식점 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllRestaurantSpots}" method="GET">
    <button type="submit">모든 지역 음식점 정보 업데이트</button>
</form>

<br><br><br>

<!-- 문화시설 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllCulturalDataSpots}" method="GET">
    <button type="submit">모든 지역 문화시설 정보 업데이트</button>
</form>

<br><br><br>

<!-- 축체행사 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllFestivalDataSpots}" method="GET">
    <button type="submit">모든 지역 축체행사 정보 업데이트</button>
</form>


<br><br><br>



<!-- 레포츠 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllSportsDataSpots}" method="GET">
    <button type="submit">모든 지역 레포츠 정보 업데이트</button>
</form>

<br><br><br>


<!-- 숙박 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllLodgmentDataSpots}" method="GET">
    <button type="submit">모든 지역 숙박 정보 업데이트</button>
</form>


<br><br><br>

<!-- 쇼핑 정보를 업데이트하는 버튼 -->

<form th:action="@{/update/updateAllShoppingDataSpots}" method="GET">
    <button type="submit">모든 지역 쇼핑 정보 업데이트</button>
</form>

<br><br><br>

<button><a href="/home">메인</a></button>




</body>
</html>