<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/myList.css}">


    <!-- jQery 항상 최신 코드-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script th:src="@{/JS/mylist.js}"></script>

    <title>Title</title>
</head>


<body>
<!-- 헤더 -->
<th:block th:insert="~{fragments/header::header}"></th:block>

<div class="wrapper">
    <!-- 사이드 바 -->
    <div class="side-container">
        <h1 class="mylist">My List</h1>

        <div class="side-bar-btn like-view">
            좋아요
        </div>


        <div class="side-bar-btn my-post">
            나의 게시글
        </div>

<!--        <div class="side-bar-btn my-travel">-->
<!--            자오늘떠나요-->
<!--        </div>-->

<!--        <div class="side-bar-btn postcard">-->
<!--            얘는 엽서-->
<!--        </div>-->
    </div>
    <div class="content-wrapper container-lg">

        <div class="justify-content-center">

            <!-- 메인 컨텐츠 -->
            <div class="my-list row" id="like-view">
                <h1>좋아요 목록</h1>
                <!-- th:each를 사용하여 데이터를 동적으로 반복 -->
                <div class="col-md-3" th:each="data : ${myTourCntAll}">
                    <div class="card mb-3">
                        <img class="card-img-top" th:src="${data.firstimage}" alt="" height="195">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${data.title}"></h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="my-list row" id="my-post">
                <h1>게시물 목록</h1>

                <div class="col-md-3" th:each="post : ${myPostList}">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${post.subject}"></h5>
                            <h5 class="card-title" th:text="${post.viewcnt}"></h5>
                        </div>
                    </div>
                </div>
            </div>


<!--            <div class="my-list row" id="my-travel-list">-->
<!--                <h1>내가 여행가면 안되냐? 나도 여행갈수있잖아?</h1>-->

<!--                내 여행코스 hot_schedule_info-->
<!--            </div>-->

<!--            <div class="my-list row" id="postcard">-->
<!--                <h1>라성에가면 편지를 써주세요~</h1>-->
<!--                내엽서-->
<!--            </div>-->

        </div>
    </div>
</div>

</body>
</html>
