<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/mainMap.css}">
    <script th:src="@{/JS/mainmap.js}"></script>
    <title></title>

</head>

<th:block th:fragment="map">
    <div class="map1" style="width: 408.41px; height: 639px; position: relative;">
        <div style="width: 180.05px; height: 161.39px;" >
            <img  id="jeollabukImage"
                    src="/IMG/jeollabuk.png"
                    style="width: 176.45px; height: 157.33px; position: absolute; left: 56.36px; top: 282.68px; object-fit: cover;"
            /><a href="#">
            <div id="jeollabukTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 55.51px; height: 21.66px; position: absolute; left: 109.66px; top: 353.35px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('jeollabuk')" onmouseout="resetImage('jeollabuk')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #전북
                </div>
            </div></a>
        </div>
        <div style="width: 224.69px; height: 199.82px;">
            <img  id="gyeongsangbukImage"
                    src="/IMG/gyeongsangbuk.png"
                    style="width: 217.92px; height: 192.1px; position: absolute; left: 198.14px; top: 180.67px; object-fit: cover;"
            /><a href="#">
            <div id="gyeongsangbukTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 50.09px; height: 24.37px; position: absolute; left: 287.01px; top: 249.11px; gap: 10px; padding: 13px;  border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('gyeongsangbuk')" onmouseout="resetImage('gyeongsangbuk')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #경북
                </div>
            </div></a>
        </div>
        <div style="width: 144px; height: 89px;">
            <img  id="jejuImage"
                    src="/IMG/jeju.png"
                    style="width: 136px; height: 89px; position: absolute; left: 46.5px; top: 549.5px; object-fit: cover;"
            /><a href="#">
            <div id="jejuTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 54px; height: 25px; position: absolute; left: 137px; top: 575px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('jeju')" onmouseout="resetImage('jeju')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #제주
                </div>
            </div></a>
        </div>
        <div style="width: 180.31px; height: 161.25px;" >
            <img id="gyeongsangnamImage"
                    src="/IMG/gyeongsangnam.png"
                    style="width: 174.49px; height: 154.66px; position: absolute; left: 170.29px; top: 333.27px; object-fit: cover;"
            /><a href="#">
            <div id="gyeongsangnamTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 51.45px; height: 23.02px; position: absolute; left: 211.2px; top: 407.51px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('gyeongsangnam')" onmouseout="resetImage('gyeongsangnam')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #경남
                </div>
            </div></a>
        </div>
        <div style="width: 214.95px; height: 190.45px;" >
            <img id="jeollanamImage"
                    src="/IMG/jeollanam.png"
                    style="width: 210.19px; height: 185.03px; position: absolute; left: 10.33px; top: 373.87px; object-fit: cover;"
            /><a href="#">
            <div id="jeollanamTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 54.15px; height: 24.37px; position: absolute; left: 53px; top: 473px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('jeollanam')" onmouseout="resetImage('jeollanam')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #전남
                </div>
            </div></a>
        </div>
        <div style="width: 176.12px; height: 157.32px;" >
            <img id="chungcheongnamImage"
                    src="/IMG/chungcheongnam.png"
                    style="width: 170.49px; height: 150.92px; position: absolute; left: 25.58px; top: 185.84px; object-fit: cover;"
            /><a href="#">
            <div id="chungcheongnamTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 48.74px; height: 24.37px; position: absolute; left: 66px; top: 214px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('chungcheongnam')" onmouseout="resetImage('chungcheongnam')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #충남
                </div>
            </div></a>
        </div>
        <div style="width: 222.92px; height: 200.86px;" >
            <img id="gangwonImage"
                    src="/IMG/gangwon.png"
                    style="width: 215.26px; height: 192.25px; position: absolute; left: 154.11px; top: -1px; object-fit: cover;"
            /><a href="#">
            <div  id="gangwonTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 56.86px; height: 21.66px; position: absolute; left: 242.34px; top: 92.06px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('gangwon')" onmouseout="resetImage('gangwon')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #강원
                </div>
            </div></a>
        </div>
        <div style="width: 155.2px; height: 176.06px;" >
            <img  id="gyeonggiImage"
                    src="/IMG/gyeonggi.png"
                    style="width: 151.04px; height: 172.43px; position: absolute; left: 65.26px; top: 39.39px; object-fit: cover;"
            /><a href="#">
            <div id="gyeonggiTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 54.15px; height: 23.02px; position: absolute; left: 135.38px; top: 73.11px; gap: 10px; padding: 13px;  border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('gyeonggi')" onmouseout="resetImage('gyeonggi')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #경기
                </div>
            </div></a>
        </div>
        <div style="width: 90.67px; height: 63.63px;">
            <img id="gwangjuImage"
                    src="/IMG/gwangju.png"
                    style="width: 56.86px; height: 63.63px; position: absolute; left: 75.29px; top: 402.55px; object-fit: cover;"
            /><a href="#">
            <div id="gwangjuTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 54.15px; height: 24.37px; position: absolute; left: 119.31px; top: 413.92px; gap: 10px; padding: 13px; border: solid black 1px;  border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('gwangju')" onmouseout="resetImage('gwangju')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #광주
                </div>
            </div>
        </a>
        </div>
        <div style="width: 85.55px; height: 73.52px;" >
            <img id="busanImage"
                    src="/IMG/busan.png"
                    style="width: 59.04px; height: 66.06px; position: absolute; left: 303.07px; top: 385.99px; object-fit: cover;"
            /><a href="#">
            <div id="busanTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 54.15px; height: 23.02px; position: absolute; left: 322px; top: 442px; gap: 10px; padding: 13px;  border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('busan')" onmouseout="resetImage('busan')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #부산
                </div>
            </div></a>
        </div>
        <div style="width: 95.9px; height: 68.42px;" >
            <img id="ulsanImage"
                    src="/IMG/ulsan.png"
                    style="width: 59.57px; height: 66.34px; position: absolute; left: 325.12px; top: 353.47px; object-fit: cover;"
            /><a href="#">
            <div id="ulsanTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 52.8px; height: 21.66px; position: absolute; left: 365.35px; top: 380.43px; gap: 10px; padding: 13px;  border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('ulsan')" onmouseout="resetImage('ulsan')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #울산
                </div>
            </div>
        </a>
        </div>
        <div style="width: 175.19px; height: 155.52px;" >
            <img id="chungcheongImage"
                    src="/IMG/chungcheong.png"
                    style="width: 170.58px; height: 150.28px; position: absolute; left: 140.24px; top: 169.71px; object-fit: cover;"
            /><a href="#">
            <div id="chungcheongTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 51.45px; height: 21.66px; position: absolute; left: 200.37px; top: 192.25px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('chungcheong')" onmouseout="resetImage('chungcheong')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #충북
                </div>
            </div></a>
        </div>
        <div style="width: 65.28px; height: 66.34px;">
            <img id="daejeonImage"
                    src="/IMG/daejeon.png"
                    style="width: 59.57px; height: 66.34px; position: absolute; left: 136.21px; top: 250.21px; object-fit: cover;"
            /><a href="#">
            <div id="daejeonTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 52.8px; height: 23.02px; position: absolute; left: 187px; top: 253px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('daejeon')" onmouseout="resetImage('daejeon')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #대전
                </div>
            </div>
        </a>
        </div>
        <div style="width: 71.72px; height: 46.28px;" >
            <img id="sejongImage"
                    src="/IMG/sejong.png"
                    style="width: 35.2px; height: 39.26px; position: absolute; left: 143.33px; top: 233.96px; object-fit: cover;"
            /><a href="#">
            <div id="sejongTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 51.45px; height: 23.02px; position: absolute; left: 100.11px; top: 257.45px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('sejong')" onmouseout="resetImage('sejong')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #세종
                </div>
            </div>
        </a>
        </div>
        <div style="width: 90.67px; height: 65.23px;" >
            <img id="daeguImage"
                    src="/IMG/daegu.png"
                    style="width: 56.86px; height: 64.98px; position: absolute; left: 265.35px; top: 313.55px; object-fit: cover;"
            /><a href="#">
            <div id="daeguTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 51.45px; height: 23.02px; position: absolute; left: 310.08px; top: 316.8px; gap: 10px; padding: 13px; border: solid black 1px; border-radius: 4px; background: #fff; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('daegu')" onmouseout="resetImage('daegu')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #대구
                </div>
            </div>
        </a>
        </div>
        <div style="width: 86.61px; height: 60.92px;" >
            <img id="seoulImage"
                    src="/IMG/seoul.png"
                    style="width: 60.92px; height: 60.92px; position: absolute; left: 106.78px; top: 100.64px; object-fit: cover;"
            /><a href="#">
            <div id="seoulTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 52.8px; height: 21.66px; position: absolute; left: 138.09px; top: 160px; gap: 10px; padding: 13px; border-radius: 4px; background: #fff; border: solid black 1px; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('seoul')" onmouseout="resetImage('seoul')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #서울
                </div>
            </div>
        </a>
        </div>
        <div style="width: 81.27px; height: 62.28px;" >
            <img id="incheonImage"
                    src="/IMG/incheon.png"
                    style="width: 62.28px; height: 62.28px; position: absolute; left: 67.87px; top: 112.12px; object-fit: cover;"
            /><a href="#">
            <div id="incheonTextDiv"
                    style="display: flex; justify-content: center; align-items: center; width: 51.45px; height: 21.66px; position: absolute; left: 20px; top: 120.08px; gap: 10px; padding: 13px; border-radius: 4px; background: #fff;border: solid 1px black; border-width: 1px; border-color: #000;"
                    onmouseover="moveImage('incheon')" onmouseout="resetImage('incheon')"
            >
                <div class="areaText" style="flex-grow: 0; flex-shrink: 0; font-size: 17px; text-align: left; color: #000;">
                    #인천
                </div>
            </div>
        </a>
        </div>
    </div>

</th:block>



</html>


