<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/mainMap.css}">
    <script th:src="@{/JS/home.js}"></script>
    <script th:src="@{/JS/mainmap.js}"></script>

    <!--/*  jQuery 코드  */-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="slide-container">
    <!--/* 슬라이드 할 페이지 전체를 감싼 컨테이너 */-->


    <!--/* 메인페이지 */-->
    <div class="mainpage slide">
        <!--/* 인증 헤더 */-->
        <th:block th:insert="~{fragments/header::header}"></th:block>
        <div class="main-container">
            <div class="content-box box1" style="background-image: url('/IMG/진지보노보노.png')"></div>
            <div class="content-box box2" style="background-image: url('/IMG/보노보노.jpg')"></div>
            <div class="content-box box3" style="background-image: url('/IMG/진지보노보노.png')"></div>
            <div class="content-box box4" style="background-image: url('/IMG/보노보노.jpg')"></div>
        </div>
    </div>

    <!--/* 지역별 여행지  */-->
    <div class="local slide">
        <!--/* 카테고리 */-->
        <div class="category">
            <p>이 자리는 카테고리가 될것이다</p>
            <p>그것도 아주 대단한 카테고리 말이지</p>
            <p>그리고 스크롤 되면 천천히 나타 날것이야</p>
        </div>
        <!--/* 날씨 */-->
        <div class="weather">날씨</div>
        <!--/* 지도 */-->
        <div class="centered">
            <th:block th:insert="~{fragments/map::map}"></th:block>
        </div>
    </div>

    <div class="slide">

        <div>푸터자리</div>
    </div>



</div>
</body>
</html>







