<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
</head>
<style>
    .animated.fadeInUp {
        animation: fadeInUp 1s ease-in-out;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(500px);
        }
        100% {
            opacity: 10;
            transform: translateY(0);
        }
    }
    /* CSS 스타일 시트에서 애니메이션을 정의합니다. */
    .animate-slide-down {
        animation: slide-down 1.5s ease;
        opacity: 1;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    #map {
        height: 400px; /* 지도의 높이 설정 */
        width: 100%; /* 지도의 너비 설정 */
    }
    /* 600px 미만인 경우에만 적용 */
    @media (max-width: 770px) {
        .card {
            /* 가로로 유지 */
            flex-direction: row;
        }

        .card .col-md-4 {
            /* 이미지 컬럼 */
            flex: 0 0 20%;
        }

        .card .col-md-8 {
            /* 텍스트 컬럼 */
            flex: 0 0 70%;
        }

        /* 기타 스타일 조정 */
        .card-title {
            /* 타이틀이 넘칠 경우 줄바꿈 */
            white-space: normal;
        }
        .card-img {
            width: 150px;
        }
    }

    .fixed-image {
        position: fixed; /* 이미지를 고정 위치에 유지 */
        bottom: 0; /* 아래쪽에 고정 */
        right: 0; /* 오른쪽에 고정 */
        z-index: 9999; /* 다른 요소 위에 표시 (필요한 경우) */
        /* 추가적인 스타일링을 원하는대로 적용할 수 있습니다. */
    }
    .fixed-image img {
        width: 150px; /* 이미지의 가로 크기를 조절합니다. */
        height: auto;
        animation: bounce 0.5s infinite alternate
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px); /* 움직일 거리와 방향을 조절하세요. */
        }
    }
    /* "animate" 클래스가 있는 경우에만 "pulse" 애니메이션을 적용합니다. */

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1);
        }
    }


</style>
<script>





        let markers = {};

    // Global variables for map and state
    let map;
    let googleMapsLoaded = false;
    let image1 ;
    // Initialize when the document is fully loaded
    document.addEventListener('DOMContentLoaded', async function () {

        image1 = document.querySelector('.fixed-image img');

// 함수 호출로 작업 시작


        loadGoogleMaps();
        attachClickEventToCards();
    });



        function removeBounceAndApplyPulse() {
            image1.style.animation = 'none'; // "바운스" 애니메이션 제거
            image1.style.animation = 'pulse 1s forwards'; // "펄스" 애니메이션 실행

            // "펄스" 애니메이션 완료 후, "바운스" 애니메이션 다시 적용
            image1.addEventListener('animationend', () => {
                image1.style.animation = 'none'; // "펄스" 애니메이션 제거
                image1.style.animation = 'bounce 0.5s infinite alternate'; // "바운스" 애니메이션 다시 적용
            });
        }

    // Loads Google Maps script dynamically
    function loadGoogleMaps() {
        if (googleMapsLoaded) return;
        fetch('/api-key')
            .then(response => response.text())
            .then(apiKey => {
                const script = document.createElement('script');
                script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
                document.head.appendChild(script);
                googleMapsLoaded = true;
            })
            .catch(error => console.error('Error fetching API key:', error));
    }

    // Initializes the map and sets its center based on URL parameters
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapId: "2dfce129bda407a6" // User-defined style map ID
        });
        const areaName = new URLSearchParams(window.location.search).get("area");
        updateMapCenter(areaName);
        loadMarkersFromSessionStorage();
    }

    // Updates map center and zoom based on the specified area name
    function updateMapCenter(areaName) {
        const areaDetails = getAreaDetails(areaName);
        if (areaDetails) {
            map.setCenter(new google.maps.LatLng(areaDetails.lat, areaDetails.lng));
            map.setZoom(areaDetails.zoom);
        }
    }

    // Returns coordinates and zoom level for a given area name
    // Returns coordinates and zoom level for a given area name
    function getAreaDetails(areaName) {
        const areaCoordinates = {
            "전라북도": { lat: 35.815, lng: 127.153, zoom: 10 },
            "서울시": { lat: 37.5665, lng: 126.9780, zoom: 12 },
            "경기도": { lat: 37.4138, lng: 127.5183, zoom: 10 },
            "인천시": { lat: 37.4563, lng: 126.7052, zoom: 11 },
            "강원도": { lat: 37.8228, lng: 128.1555, zoom: 10 },
            "충청북도": { lat: 36.6359, lng: 127.4913, zoom: 10 },
            "충청남도": { lat: 36.5184, lng: 126.8000, zoom: 10 },
            "대전시": { lat: 36.3504, lng: 127.3845, zoom: 12 },
            "세종시": { lat: 36.4800, lng: 127.2890, zoom: 12 },
            "경상북도": { lat: 36.4919, lng: 128.8889, zoom: 10 },
            "경상남도": { lat: 35.4606, lng: 128.2132, zoom: 10 },
            "대구시": { lat: 35.8714, lng: 128.6014, zoom: 12 },
            "전라남도": { lat: 34.8679, lng: 126.9910, zoom: 10 },
            "광주시": { lat: 35.1595, lng: 126.8526, zoom: 12 },
            "울산시": { lat: 35.5384, lng: 129.3114, zoom: 12 },
            "부산시": { lat: 35.1796, lng: 129.0756, zoom: 12 },
            "제주도": { lat: 33.4890, lng: 126.4983, zoom: 11 },
            // Default coordinates
            "default": { lat: 37.7749, lng: 122.4194, zoom: 10 }
        };
        return areaCoordinates[areaName] || areaCoordinates["default"];
    }


    // Attaches click event to cards for adding session data and markers
    function attachClickEventToCards() {
        document.querySelectorAll('.add-to-session-storage-button').forEach(card => {
            card.addEventListener('click', function () {
                storeSessionData(this);
                const { mapX, mapY } = extractCardAttributes(this);
                addMarkerToMap(mapX, mapY);
            });
        });
    }

    // Extracts and stores the necessary data from the card into session storage
    function storeSessionData(cardElement) {
        const { title, img, contentId, mapX, mapY, addr } = extractCardAttributes(cardElement);
        const sessionData = getSessionData();
        if (sessionData.some(data => data.contentId === contentId)) {
            alert('이미 저장된 정보입니다.');
            return;
        }
        if (sessionData.length >= 5) {
            alert('최대 5개까지만 저장할 수 있습니다.');
            return;
        }
        removeBounceAndApplyPulse()
        sessionData.push({ contentId, title, img, mapX, mapY, addr });
        sessionStorage.setItem('mySessionData', JSON.stringify(sessionData));
    }

    // Extracts attributes from the card element
    function extractCardAttributes(cardElement) {
        return {
            title: cardElement.getAttribute('data-title'),
            img: cardElement.getAttribute('data-img'),
            contentId: cardElement.getAttribute('data-contentid'),
            mapX: parseFloat(cardElement.getAttribute('data-mapx')),
            mapY: parseFloat(cardElement.getAttribute('data-mapy')),
            addr: cardElement.getAttribute('data-addr')
        };
    }

    // Adds a marker to the map at the specified coordinates
    function addMarkerToMap() {
        const places = getSessionData();
        if (!places || !places.length) {
            alert("저장된 장소 정보가 없어 마커를 표시할 수 없습니다.");
            return;
        }
        places.forEach(place => {
            if (!markers[place.contentId]) { // 마커가 이미 존재하지 않는 경우에만 생성
                createMarker(place, place.contentId);
            }
        });
    }


    // Creates and attaches a marker to the map
    function createMarker(place, contentId) {
        if (markers[contentId]) {
            return; // 마커가 이미 있으면 추가하지 않음
        }
        const marker = new google.maps.Marker({
            position: new google.maps.LatLng(place.mapY, place.mapX),
            map: map,
            icon: {
                url: '/IMG/marker.png',
                scaledSize: new google.maps.Size(30, 30)
            },
            animation: google.maps.Animation.BOUNCE,
            zIndex: 1000
        });

        // markers 객체에 마커 저장, 여기서 명시적으로 받은 contentId를 사용
        markers[contentId] = marker;

        // 정보 창 연결
        attachInfoWindowToMarker(marker, place);
    }


    // Attaches an info window to the marker
    function attachInfoWindowToMarker(marker, place) {
        const infowindow = new google.maps.InfoWindow({
            content: getInfoWindowContent(place)
        });

        marker.addListener('click', () => {
            infowindow.open(map, marker);

            // 정보 창 DOM이 준비되면 실행
            google.maps.event.addListenerOnce(infowindow, 'domready', () => {
                document.querySelector(`#remove-${place.contentId}`).addEventListener('click', () => {
                    removeMarker(place.contentId);
                    infowindow.close(); // 정보 창 닫기
                });
                document.querySelector(`#close-${place.contentId}`).addEventListener('click', () => {
                    infowindow.close(); // 정보 창 닫기
                });
            });
        });
    }

    // Generates the HTML content for the info window
    function getInfoWindowContent(place) {
        return `<div id="content">
                <h5>${place.title}</h5>
                <p>${place.addr}</p>
               <button class="btn btn-primary" onclick="showDetails('${place.contentId}')">상세보기</button>
                <button class="btn btn-danger" id="remove-${place.contentId}">제거</button>
                <button class="btn btn-secondary" id="close-${place.contentId}">닫기</button>

            </div>`;
    }

    // Function stubs for showing details and removing markers
    function showDetails() {
        // Implement details display logic
    }

    // Removes a marker and its data from the map and session storage
    // 지도와 세션 스토리지에서 특정 contentId를 가진 마커를 제거하는 함수
    function removeMarker(contentId) {
        // 마커 객체를 markers에서 찾아 제거합니다.
        const marker = markers[contentId];
        if (marker) {
            marker.setMap(null); // 지도에서 마커 제거
            delete markers[contentId]; // markers 객체에서 제거

            // 세션 데이터에서 해당 데이터 제거
            const updatedSessionData = getSessionData().filter(data => data.contentId !== contentId);
            sessionStorage.setItem('mySessionData', JSON.stringify(updatedSessionData));
            removeBounceAndApplyPulse()
        } else {
            console.error("해당 contentId를 가진 마커를 찾을 수 없습니다.");
        }
    }
        function closeInfoWindow(contentId, marker) {
            // 해당 Info Window를 닫기 위해 marker를 사용
            marker.infowindow.close();
        }

    // Retrieves session data, parsing it into a usable format
    function getSessionData() {
        return JSON.parse(sessionStorage.getItem('mySessionData')) || [];
    }

    // Loads markers from session storage data
    function loadMarkersFromSessionStorage() {
        const sessionData = getSessionData();
        sessionData.forEach(data => {
            addMarkerToMap(data.mapX, data.mapY, data.contentId); // contentId도 전달
        });
    }







    // url area추출

        var url = new URL(window.location.href);
        var areaParam = url.searchParams.get("area");
        var areaTitle = document.getElementById("areaTitle");

        if (areaTitle) {
            areaTitle.style.opacity = 0; // 초기에 투명하게 설정
            var currentIndex = 0; // 현재 글자 인덱스

            // 이미 한 번 적용된 경우 다시 적용하지 않도록 처리
            if (!areaTitle.classList.contains("typed")) {

                // URL에서 추출한 값을 변경할 매핑
                var areaMapping = {
                    "경기도": "경기도여행",
                    "서울시": "서울여행",
                    "인천시": "인천여행",
                    "강원도": "강원여행",
                    "충청북도": "충북여행",
                    "충청남도": "충남여행",
                    "대전시": "대전여행",
                    "세종시": "세종여행",
                    "경상북도": "경북여행",
                    "경상남도": "경남여행",
                    "대구시": "대구여행",
                    "전북시": "전북여행",
                    "전남시": "전남여행",
                    "광주시": "광주여행",
                    "울산시": "울산여행",
                    "부산시": "부산여행",
                    "제주도": "제주여행",
                    // 추가적인 매핑을 필요에 따라 여기에 추가할 수 있습니다.
                };

                // areaParam을 변경된 값으로 설정
                areaParam = areaMapping[areaParam] || areaParam;

                // 한 글자씩 나오는 애니메이션을 적용하기 위한 함수
                function typeWriter() {
                    if (currentIndex < areaParam.length) {
                        areaTitle.innerHTML += areaParam.charAt(currentIndex);
                        currentIndex++;
                        setTimeout(typeWriter, 200); // 글자 간의 시간 간격 (밀리초)
                    } else {
                        // 모든 글자가 나타난 후 페이드 인 애니메이션 적용
                        fadeIn(areaTitle);
                    }
                }

                // 투명한 상태에서 보이도록 애니메이션 적용
                function fadeIn(element) {
                    var opacity = 0;
                    var timer = setInterval(function () {
                        if (opacity >= 1) {
                            clearInterval(timer);
                        }
                        element.style.opacity = opacity;
                        opacity += 0.06; // 페이드 인 속도 조절
                    }, 20); // 애니메이션 간격 (밀리초)
                }

                // 애니메이션 시작
                typeWriter();

                // 이미 한 번 적용된 것으로 표시
                areaTitle.classList.add("typed");
            } else {
                // 이미 한 번 적용된 경우 중복을 제거
                areaTitle.textContent = areaParam;
            }
        }

    // 타입버튼 URL

    $(document).ready(function () {
        // URL에서 area와 areaCode 파라미터 추출
        var url = new URL(window.location.href);
        var areaParam = url.searchParams.get("area");
        var areaCodeParam = url.searchParams.get("areaCode");

            // 관광지 버튼 클릭 이벤트 리스너
            $('#tourismBtn').click(function () {
                // contentTypeId를 12로 설정
                var contentTypeId = 12;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 캠핑 버튼 클릭 이벤트 리스너
            $('#campingBtn').click(function () {
                // contentTypeId를 기본 값인 32로 설정
                var contentTypeId = 32;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 숙박 버튼 클릭 이벤트 리스너
            $('#accommodationBtn').click(function () {
                // contentTypeId를 32로 설정
                var contentTypeId = 32;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 쇼핑 버튼 클릭 이벤트 리스너
            $('#shoppingBtn').click(function () {
                // contentTypeId를 38로 설정
                var contentTypeId = 38;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 레포츠 버튼 클릭 이벤트 리스너
            $('#sportsBtn').click(function () {
                // contentTypeId를 28로 설정
                var contentTypeId = 28;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 축제 버튼 클릭 이벤트 리스너
            $('#festivalBtn').click(function () {
                // contentTypeId를 15로 설정
                var contentTypeId = 15;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });

            // 문화시설 버튼 클릭 이벤트 리스너
            $('#culturalFacilityBtn').click(function () {
                // contentTypeId를 14로 설정
                var contentTypeId = 14;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });
            // 음식점 버튼 클릭 이벤트 리스너
            $('#restaurantBtn').click(function () {
                // contentTypeId를 39로 설정
                var contentTypeId = 39;

                // 새 URL 생성 및 이동
                var newURL = '/schedule/tour?area=' + areaParam + '&areaCode=' + areaCodeParam + '&contentTypeId=' + contentTypeId;
                window.location.href = newURL;
            });
        });







    // 페이지 로드 시 모달 열기
    $(document).ready(function(){
        $("#startModal").modal('show');
    });








    // 맛집 데이터를 세션에서 가져와서 모달 내에 카드로 표시하는 함수
    function displayRestaurantCards() {
        // 세션에서 맛집 데이터를 가져옵니다. 이 데이터는 JSON 형식일 것으로 가정합니다.
        var restaurants = JSON.parse(sessionStorage.getItem('mySessionData'));

        // 맛집 데이터가 있는지 확인하고 카드를 생성합니다.
        if (restaurants && restaurants.length > 0) {
            var restaurantCards = document.getElementById('restaurantCards');

            restaurants.forEach(function (restaurant) {
                // 맛집 카드를 생성합니다.
                var card = document.createElement('div');
                card.classList.add('col-md-4', 'mb-3');

                card.innerHTML = `
                        <div class="card">
                            <img src="${restaurant.img}" class="card-img-top" alt="${restaurant.title}">
                            <div class="card-body">
                                <h5 class="card-title">${restaurant.title}</h5>
                                <p class="card-text">위치: (${restaurant.mapX}, ${restaurant.mapY})</p>
                            </div>
                        </div>
                    `;

                restaurantCards.appendChild(card);
            });
        }
    }

    // 페이지 로드 시 맛집 카드 표시
    document.addEventListener('DOMContentLoaded', function () {
        displayRestaurantCards();
    });
    function startTravel() {
        // 모달 닫기
        var modal = document.getElementById("startModal");
        modal.style.display = "none";

        // 여행 시작 페이지로 이동
        window.location.href = "/schedule/gotour";
    }
</script>
<body>
<!-- 모달 -->
<div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">모달 제목</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                모달 내용을 입력하세요.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>

            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark animate-slide-down">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">핫도리</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <!--                로그인하지 않았을때(anonymous 상태) 보이는 메뉴-->
                <!--                    <li class="nav-item" sec:authorize="isAnonymous()">-->
                <!--                        <a class="nav-link" href="javascript:void(0)">Anonymous</a>-->
                <!--                    </li>-->
                <!-- 로그인한 사람에게만 보이는 메뉴 -->

                <!-- 로그인한 사람중 ROLE_MEMBER 나 ROLE_ADMIN 권한 있는 사람에게만 보이는 메뉴 -->
                <!--                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','MEMBER')">-->
                <!--                        <a class="nav-link" href="javascript:void(0)">회원</a>-->
                <!--                    </li>-->
                <!-- 로그인한 사람중 ROLE_ADMIN 권한 있는 사람에게만 보이는 메뉴 -->
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/touristSpots">데이터최신화</a>
                </li>
            </ul>



            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/theme/camping/main">캠핑여행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theme/family/main">유아동반여행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theme/festival/main">축제(정보)여행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theme/foodie/main">맛집여행</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/schedule/main">여행코스</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/postCard/main">여행엽서</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/list?category=12&page=1">게시판</a>
                    </li>

                </ul>
            </div>
            <!-- 로그인 안했을때는 로그인 form 보여주기 -->


            <a class="btn btn-primary" sec:authorize="isAnonymous()" type="submit" th:href="@{/user/login}">로그인</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" type="submit" th:href="@{/user/signup}">회원가입</a>

            <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->

            <form  th:action="@{/user/logout}" method="POST"  sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}" >
                <span class="d-flex">

            <span class="text-light p-2"><span TODO="">[[${user.username}]]([[${user.nickname}]])</span> 님 환영합니다</span>


                        <span class="collapse navbar-collapse" >
                                        <a  class="text-light p-2" sec:authorize="isAuthenticated()" href="javascript:void(0)">내정보관리</a>

                       </span>

                        <span class="collapse navbar-collapse" >
                                        <a  class="text-light p-2" sec:authorize="isAuthenticated()" href="javascript:void(0)">MY리스트</a>

                       </span>
            <span><button class="btn btn-danger" type="submit">Logout</button></span>
          </span>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div id="map" style="border-radius: 15px; margin-top: 10px"></div>


<!-- Google Maps JavaScript API 스크립트 추가 -->

<div class="head d-flex justify-content-center"  style="margin-top: 50px">
    <h1 class="text-center" id="areaTitle"></h1>
</div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start align-items-end">
                <div class="tag31">
                    <span th:text="${buttonText == '캠핑' ? (buttonText + campintTotalCount + ' 개의 결과가 있습니다') : (buttonText + (totalCount != null ? totalCount : '') + ' 개의 결과가 있습니다')}"></span>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end" >

                <a class="btn btn-light" id="tourismBtn" data-content-type="12">
                    <span>관광지</span>
                </a>

                <a class="btn btn-light" id="campingBtn" data-content-type="12">
                    <span>캠핑</span>
                </a>

                <a class="btn btn-light" id="restaurantBtn" data-content-type="39">
                    <span>맛집</span>
                </a>

                <a class="btn btn-light" id="festivalBtn" data-content-type="15">
                    <span>축제</span>
                </a>

                <a class="btn btn-light" id="sportsBtn" data-content-type="28">
                    <span>레포츠</span>
                </a>

                <a class="btn btn-light" id="shoppingBtn" data-content-type="38">
                    <span>쇼핑</span>
                </a>

                <a class="btn btn-light" id="accommodationBtn" data-content-type="32">
                    <span>숙박</span>
                </a>

                <a class="btn btn-light" id="culturalFacilityBtn" data-content-type="14">
                    <span>문화시설</span>
                </a>

            </div>
        </div>
    </div>






    <br><br><br>
    <div class="container-md">
        <div class="justify-content-center">
            <div class="row" style="margin-right: 20px; margin-left: 20px">
                <!-- dataList가 존재할 경우 -->
                <div class="col-md-6 animated fadeInUp" th:if="${not #lists.isEmpty(dataList)}" th:each="data : ${dataList}" >
                    <div class="card mb-3 "  style="overflow: hidden;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" th:attr="data-contentid=${data.contentid}, data-contenttypeid=${data.contenttypeid},data-tourid1=${data.id}" th:src="${data.firstimage}" alt="Card image" style="height: 108px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body"  style="display: flex; justify-content: space-between; align-items: flex-end; padding: 0">
                                    <div style="width: 100%;">
                                        <div style="display: flex; flex-direction: row; align-items: center;">
                                    <span style="flex: 1; width:80% " >
                                        <h5 class="card-title" th:attr="data-contentid=${data.contentid}, data-contenttypeid=${data.contenttypeid},data-tourid1=${data.id}" th:text="${data.title}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 70%; margin-top: 5px; "></h5>
                                    </span>
                                            <span style="display: flex; align-items: center;">
                                          <span class="add-to-session-storage-button" th:attr="data-contentid=${data.contentid}, data-contenttypeid=${data.contenttypeid}, data-tourid=${data.id}  , data-mapx=${data.mapx} , data-mapy=${data.mapy} , data-img=${data.firstimage} , data-title=${data.title} , data-addr=${data.addr1}"  style="cursor: pointer;"><img class="restaurant-card" id="add-button " src="/IMG/pp.png" style="width: 20px;"></span>
                                        </span>
                                            <span style="display: flex; justify-content: flex-end;">
                                        <span sec:authorize="!isAuthenticated()">
                                            <span class="openModalBtn" th:attr="data-restaurantid=${data.id}" ><img src="/IMG/b.png" style="width: 20px; margin-right: 5px"></span>
                                        </span>
                                        <span sec:authorize="isAuthenticated()" style="margin-top: 5px;">
                                            <span class="like-button like-btn" th:attr="data-restaurantid=${data.id}" ><img src="/IMG/b.png" style="width: 20px; margin-right: 5px"></span>
                                            <span class="unlike-btn" style="display: none;" th:attr="data-restaurantid=${data.id}" ><img src="/IMG/h.png" style="width: 20px; margin-right: 5px"></span>
                                        </span>
                                    </span>
                                        </div>


                                        <div style="display: flex; flex-direction: column; align-items: flex-end; gap: 30px">

                                            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end; gap: 10px">
                                                <span><img src="/IMG/iii.png" style="width: 20px;"> <span class="totalView" th:attr="contentid=${data.contentid}"></span></span>
                                                <div>
                                                    좋아요 <span class="likeCount" id="likeCountLink" th:attr="data-restaurantid=${data.id}"></span>개
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- campingList가 존재할 경우 -->
                <div class="col-md-6 animated fadeInUp" th:if="${#lists.isEmpty(dataList) and not #lists.isEmpty(campingDataList)}" th:each="camping : ${campingDataList}">
                    <div class="card mb-3 "  style="overflow: hidden;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" th:attr="camping-contentId=${camping.contentId}, camping-doNm=${camping.area} , camping-camping_id=${camping.camping_id}" th:src="${camping.firstImageUrl}" alt="Card image"  style="height: 108px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:attr="camping-contentId=${camping.contentId}, camping-doNm=${camping.area} , camping-camping_id=${camping.camping_id}" th:text="${camping.facltNm}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h5>
                                    <div class="d-flex justify-content-between">
                                        <span><img src="/IMG/iii.png" style="width: 20px"> <span class="totalCamView" th:attr="contentId=${camping.contentId}"></span></span>
                                        <div>
                                        <span sec:authorize="!isAuthenticated()">
                                            <span class="openModalBtn" th:attr="camping-contentId=${camping.contentId}" ><img src="/IMG/b.png" style="width: 20px"></span>
                                        </span>
                                            <span  sec:authorize="isAuthenticated()" >
                                            <span class="camlike-button camlike-btn" th:attr="camping-campingid=${camping.camping_id}" ><img src="/IMG/b.png" style="width: 20px"></span>
                                            <span class="camunlike-btn" style="display: none;" th:attr="camping-campingid=${camping.camping_id}" ><img src="/IMG/h.png" style="width: 20px"></span>
                                        </span>
                                        </div>
                                    </div>
                                    <div>
                                        좋아요 <span class="likeCamCount" id="likeCanCountLink" th:attr="camping-campingid=${camping.camping_id}"></span>개
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<div class="fixed-image">
    <img  src="/IMG/car.png" alt="고정 이미지" data-bs-toggle="modal" data-bs-target="#restaurantModal">
</div>

<!-- 시작 모달 모달 -->
<div class="modal fade" id="restaurantModal" tabindex="-1" aria-labelledby="restaurantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restaurantModalLabel">맛집 목록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 맛집 카드를 여기에 표시 -->
                <div class="row" id="restaurantCards">
                    <!-- 맛집 카드는 JavaScript로 동적으로 추가됩니다. -->
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="startTravel()">여행 시작</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
            </div>
        </div>
    </div>
</div>
</html>