<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/default.css}">
    <style>
        .image-container {
            width: 300px; /* 또는 다른 크기로 지정 */
            margin: 0 auto; /* 가운데 정렬을 위해 사용 */
        }

        .card-title{
            font-family: 휴먼편지체;
        }

        .restaurant-card {
            /* 카드 스타일링을 여기에 추가하세요 */
            cursor: pointer; /* 클릭 가능한 요소로 설정 */
        }
        /* 모달 내 컨텐츠를 스크롤 가능하게 설정 */

        /* 스피너 위치 지정 */

        #spinnerBackdrop {
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* 배경색과 투명도 조절 가능 */
            justify-content: center;
            align-items: center;
        }
        /* 스피너 크기와 두께 조정 */
        /* 스피너 색상 변경 */
        /* 원 스피너 스타일 조정 */
        .spinner-border {
            width: 7rem; /* 너비 조정 */
            height: 7rem; /* 높이 조정 */
            border: 0.5em solid #ffffff; /* 원 스피너로 변경 */
            border-top-color: transparent; /* 원의 나머지 부분 투명하게 설정 */
            border-radius: 50%; /* 원형으로 모양 변경 */
            animation: spin 1s linear infinite; /* 애니메이션 효과 추가 */
        }

        .spinner-border.hidden {
            display: none; /* 숨김 처리 */
        }

        @keyframes spin {
            to {
                transform: rotate(360deg); /* 회전 애니메이션 설정 */
            }
        }

    </style>

    <title>캠핑여행</title>


</head>

<script>

    let map; // 전역 변수로 지도 객체를 선언합니다.
    let mapX;
    let mapY;
    let cachedDataArray = []; // 데이터를 캐싱할 배열
    let googleMapsLoaded = false; // Google Maps API가 이미 로드되었는지 여부를 나타내는 플래그

    // Google 지도 API 로드
    function loadGoogleMaps() {
        if (googleMapsLoaded) {
            // 이미로드 됨, 다시로드하지 않음
            return;
        }
        fetch('/api-key')
            .then(response => response.text())
            .then(apiKey => {
                const script = document.createElement('script');
                script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
                document.head.appendChild(script);
                googleMapsLoaded = true; // 로드 완료 후 플래그 설정
            })
            .catch(error => {
                console.error('Error fetching API key:', error);
            });
    }

    // Google 지도 초기화 함수
    function initMap() {
        const mapElementInModal = document.getElementById('mapInModal');
        const longitude = mapX || 0; // 초기값 설정
        const latitude = mapY || 0; // 초기값 설정

        map = new google.maps.Map(mapElementInModal, {
            center: { lat: latitude, lng: longitude },
            zoom: 12,
        });

        // 초기화 시에도 마커 추가
        addMarker(latitude, longitude);
    }

    // 데이터를 가져오는 함수
    async function fetchData(contentId) {
        const TIMEOUT_DURATION = 300; // 타임아웃 기간 (0.3초)
        try {
            const controller = new AbortController();
            const timeoutId = setTimeout(() => controller.abort(), TIMEOUT_DURATION); // 타임아웃 설정

            const response = await fetch(`/searchCampingDetail/${contentId}}`, {
                signal: controller.signal // AbortController의 시그널 사용
            });

            clearTimeout(timeoutId); // 타임아웃 해제
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('데이터를 가져오는 중 에러 발생:', error);
            // 타임아웃이 발생한 경우에만 재시도하도록 추가 처리
            if (error.name === 'AbortError') {
                console.log('재시도 중...');
                // 재시도 로직 추가 (예: 다시 fetchData 호출)
                return fetchData(contentId);
            }
            throw error;
        }
    }

    async function handleCardClick(contentId) {
        loadGoogleMaps();
        try {
            showSpinner();

            let data;
            const cachedData = cachedDataArray.find(item => item.camping.contentid === contentId);

            if (cachedData) {
                // 저장된 데이터 활용
                data = cachedData;
            } else {
                // 저장된 데이터가 없을 경우, 데이터를 가져오도록 요청
                data = await fetchData(contentId);
                cachedDataArray.push(data);
            }

            hideSpinner();

            // 이후에는 data를 활용하여 필요한 작업을 수행할 수 있습니다.
            console.log(data);

            mapX = parseFloat(data.camping.mapX);
            mapY = parseFloat(data.camping.mapY);

            if (data.camping) {
                const modalTitle = document.getElementById('modalTitle');
                const modalBody = document.getElementById('modalBody');
                modalTitle.textContent = data.camping.title ? data.camping.title : '사용할 수 없음';
                const myModal = new bootstrap.Modal(document.getElementById('campingModal'));

                modalBody.innerHTML = `
                            <!-- modalBody의 내용 작성 -->
                    <p>No.${data.camping.contentid}</p>
                    <img src="${data.camping.firstImageUrl ? data.camping.firstImageUrl : 'Image not available'}" alt="Camping Image" style="width: 400px; border-radius: 10px; height: auto; margin-bottom: 10px;">
                    <h2>${data.camping.title ? data.camping.title : '없음'}</h2>
                      ${data.camping.tel ? `<p>전화번호: ${data.camping.tel}</p>` : ''}
                      ${data.camping.addr1 ? `<p>주소: ${data.camping.addr1}</p>` : ''}
                      ${data.camping.induty ? `<p>캠핑장유형: ${data.camping.induty}</p>` : ''}
                      ${data.camping.operPdCl ? `<p>운영기간: ${data.camping.operPdCl}</p>` : ''}
                      ${data.camping.operDeCl ? `<p>운영일: ${data.camping.operDeCl}</p>` : ''}
                      ${data.camping.tourEraCl ? `<p>여행시기: ${data.camping.tourEraCl}</p>` : ''}
                      ${data.camping.posblFcltyCl ? `<p>주변이용가능시설: ${data.camping.posblFcltyCl}</p>` : ''}
                      ${data.camping.themaEnvrnCl ? `<p>테마: ${data.camping.themaEnvrnCl}</p>` : ''}
                      ${data.camping.animalCmgCl ? `<p>애완동물출입: ${data.camping.animalCmgCl}</p>` : ''}

                    <hr>
                    ${data.camping.intro ? `<p>소개: ${data.camping.intro}</p>` : ''}


                    `;

                myModal.show();

                // addMarker 함수를 호출하여 마커 추가
                initMap();
                addMarker(mapX, mapY);

            }
        } catch (error) {
            hideSpinner();
            console.error('Error handling card click:', error);
            throw error;
        }
    }

    // initMap 함수에서는 더 이상 addMarker 함수를 호출하지 않습니다.

    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.card');

        // 클릭 이벤트 등록
        cards.forEach(card => {
            card.addEventListener('click', async function (event) {
                const contentId = card.getAttribute('data-contentid');

                showSpinner(); // 데이터를 가져오는 중에는 로딩 표시

                try {
                    await handleCardClick(contentId);
                } catch (error) {
                    console.error('Error handling card click:', error);
                } finally {
                    hideSpinner(); // 데이터 가져오기 완료 후 로딩 숨기기
                }
            });
        });
    });
    function addMarker(mapX, mapY) {
        const mapElementInModal = document.getElementById('mapInModal');

        const longitude = mapX || 0; // 초기값 설정
        const latitude = mapY || 0; // 초기값 설정

        if (!map) {
            map = new google.maps.Map(mapElementInModal, {
                center: { lat: latitude, lng: longitude },
                zoom: 12,
            });
        }

        if (map) {
            const marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map
            });
        } else {
            console.error('Google Maps is not initialized.');
        }

        console.log(latitude);
        console.log(longitude);
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        const spinner = document.getElementById('spinnerBackdrop');
        if (spinner) {
            spinner.classList.add('show');
        } else {
            console.error('Spinner element not found');
        }
    });


    function showSpinner() {
        const spinnerBackdrop = document.getElementById('spinnerBackdrop');
        const spinner = document.querySelector('.spinner-border');
        if (spinnerBackdrop && spinner) {
            spinnerBackdrop.style.display = 'flex';
            spinner.classList.remove('hidden');
        }
    }

    // 스피너를 숨기는 함수
    function hideSpinner() {
        const spinnerBackdrop = document.getElementById('spinnerBackdrop');
        const spinner = document.querySelector('.spinner-border');
        if (spinnerBackdrop && spinner) {
            spinnerBackdrop.style.display = 'none';
            spinner.classList.add('hidden');
        }
    }

</script>

<body>
<th:block th:insert="~{fragments/header::header}"></th:block>
<h1>캠핑여행</h1><hr><br>

<!-- 이미지를 보여주는 부분 -->
<div id="campingCarousel" class="carousel slide" data-bs-ride="carousel">
    <h3>이달의 캠핑장</h3><br>
    <div class="carousel-inner">
        <div th:each="campingSpot, iterStat : ${campingSpots}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active' : ''">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="image-container">
                            <img th:src="${campingSpot.firstImageUrl}" class="d-block mx-auto img-fluid" alt="Camping Spot Image"/>
                            <h5 th:text="${campingSpot.facltNm}" style="color: black" class="text-center mt-2"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#campingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#campingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h3>#태그로 보는 캠핑장</h3><br>

<!-- 탭을 생성하는 부분 -->
<ul class="nav nav-tabs" id="campingTabs">
    <li class="nav-item">
        <a class="nav-link active" id="karavanTab" data-bs-toggle="tab" href="#karavan" onclick="loadCampingSpots('karavan')">#카라반</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="glampingTab" data-bs-toggle="tab" href="#glamping" onclick="loadCampingSpots('glamping')">#글램핑</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="campingTab" data-bs-toggle="tab" href="#camping" onclick="loadCampingSpots('camping')">#일반야영장</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="autoCampingTab" data-bs-toggle="tab" href="#autoCamping" onclick="loadCampingSpots('autoCamping')">#자동차야영장</a>
    </li>
</ul>
<div>
    <a th:href="@{'/search'(area=${param.area}, areaCode=${param.areaCode})}">
        <span>캠핑장 더보기</span>
    </a>
</div>


<!-- 다른 탭에 대응하는 캠핑장을 보여주는 부분 -->
<div class="tab-content" style="background-color: #7EBCF2">
    <!-- 카라반 탭 -->
    <div class="tab-pane fade show active" id="karavan">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${karavanCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 글램핑 탭 -->
    <div class="tab-pane fade" id="glamping">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${glampingCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 일반야영장 탭 -->
    <div class="tab-pane fade" id="camping">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${campingCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 자동차야영장 탭 -->
    <div class="tab-pane fade" id="autoCamping">
        <div class="d-flex flex-wrap justify-content-evenly ">
            <div th:each="camping : ${autoCampingCampingSpots}" class="m-3 d-inline-block restaurant-card">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 탭을 생성하는 부분 -->
<ul class="nav nav-tabs" id="lctclcampingTabs">
    <li class="nav-item">
        <a class="nav-link active" id="riverTab" data-bs-toggle="tab" href="#river" onclick="loadLctClCampingSpots('river')">#강</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="lakeTab" data-bs-toggle="tab" href="#lake" onclick="loadLctClCampingSpots('lake')">#호수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="valleyTab" data-bs-toggle="tab" href="#valley" onclick="loadLctClCampingSpots('valley')">#계곡</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="downtownTab" data-bs-toggle="tab" href="#downtown" onclick="loadLctClCampingSpots('downtown')">#도심</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mountainTab" data-bs-toggle="tab" href="#mountain" onclick="loadLctClCampingSpots('mountain')">#산</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="forestTab" data-bs-toggle="tab" href="#forest" onclick="loadLctClCampingSpots('forest')">#숲</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="islandTab" data-bs-toggle="tab" href="#island" onclick="loadLctClCampingSpots('island')">#섬</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="beachTab" data-bs-toggle="tab" href="#beach" onclick="loadLctClCampingSpots('beach')">#해변</a>
    </li>
</ul>
<div>
    <a th:href="@{'/search'(area=${param.area}, areaCode=${param.areaCode})}">
        <span>캠핑장 더보기</span>
    </a>
</div>

<!-- 다른 탭에 대응하는 캠핑장을 보여주는 부분 -->
<div class="tab-content" style="background-color: #7EBCF2">
    <!-- 강 탭 -->
    <div class="tab-pane fade show active" id="river">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${riverCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 호수 탭 -->
    <div class="tab-pane fade" id="lake">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${lakeCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 계곡 탭 -->
    <div class="tab-pane fade" id="valley">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${valleyCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 도심 탭 -->
    <div class="tab-pane fade" id="downtown">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${downtownCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 산 탭 -->
    <div class="tab-pane fade" id="mountain">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${mountainCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 숲 탭 -->
    <div class="tab-pane fade" id="forest">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${forestCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 섬 탭 -->
    <div class="tab-pane fade" id="island">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${islandCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 해변 탭 -->
    <div class="tab-pane fade" id="beach">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${beachCampingSpots}" class="m-3 d-inline-block">
                <div class="card" th:attr="data-contentid=${data.contentid}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달 창 -->
<div class="modal fade" id="campingModal" tabindex="-50" aria-labelledby="campingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width: 500px; max-width: 1000px; overflow: auto;" >

        <div class="modal-content" >
            <!-- 모달 헤더 -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 모달 내용 -->
            <div class="modal-body" id="modalBody"  style="max-height: 50vh; overflow: auto; margin-bottom: 30px">

                <!-- 기타 정보 -->

            </div>
            <span id="mapInModal" style="height: 400px; width: 400px; border-radius: 15px; margin-left: 15px" ></span>
            <!-- 모달 푸터 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>

        </div>
    </div>
</div>

<!-- 배경과 동일한 스피너 -->
<div class="modal" id="spinnerBackdrop" tabindex="-1" aria-labelledby="spinnerBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>캠핑 story</h3>

</body>
<!-- JavaScript 코드 삽입 -->
<script th:inline="javascript">
    $(document).ready(function () {
        loadCampingSpots('karavan');
        loadCampingSpots('glamping');
        loadCampingSpots('camping');
        loadCampingSpots('autoCamping');
        loadLctClCampingSpots('river');
        loadLctClCampingSpots('lake');
        loadLctClCampingSpots('valley');
        loadLctClCampingSpots('downtown');
        loadLctClCampingSpots('mountain');
        loadLctClCampingSpots('forest');
        loadLctClCampingSpots('island');
        loadLctClCampingSpots('beach');
    });

    function loadCampingSpots(category) {
        // Ajax를 사용하여 서버로부터 해당 카테고리에 대한 캠핑장 데이터를 비동기적으로 가져옴
        $.ajax({
            type: 'GET',
            url: '/getRandomCampingSpots?category=' + category,
            success: function (data) {
                // 가져온 데이터를 해당 탭에 반영
                $('#' + category + ' .d-flex').html(data.map(renderCampingSpot).join(''));

                // 탭을 클릭할 때마다 활성 탭을 설정
                $('#campingTabs a[href="#' + category + '"]').tab('show');
            },
            error: function (error) {
                console.error('Error loading camping spots:', error);
            }
        });
    }

    function loadLctClCampingSpots(theme) {
        // Ajax를 사용하여 서버로부터 해당 카테고리에 대한 캠핑장 데이터를 비동기적으로 가져옴
        $.ajax({
            type: 'GET',
            url: '/getLctClCampingSpots?theme=' + theme,
            success: function (data) {
                // 가져온 데이터를 해당 탭에 반영
                $('#' + theme + ' .d-flex').html(data.map(renderCampingSpot).join(''));

                // 탭을 클릭할 때마다 활성 탭을 설정
                $('#campingTabs a[href="#' + theme + '"]').tab('show');
            },
            error: function (error) {
                console.error('Error loading camping spots:', error);
            }
        });
    }

    function renderCampingSpot(campingSpot) {
        return `
            <div class="m-3 d-inline-block">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="${campingSpot.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">${campingSpot.facltNm}</h5>
                        <!-- 추가 필드 예시: 캠핑장 설명(description) -->
                        <!-- 다른 데이터 필드도 추가 가능 -->
                    </div>
                </div>
            </div>`;
    }

</script>
</html>
