<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/default.css}">
    <style>
        .image-container {
            width: 300px; /* 또는 다른 크기로 지정 */
            margin: 0 auto; /* 가운데 정렬을 위해 사용 */
        }

        .card-title{
            font-family: 휴먼편지체;
        }

        .card {
            /* 카드 스타일링을 여기에 추가하세요 */
            cursor: pointer; /* 클릭 가능한 요소로 설정 */
        }
        /* 모달 내 컨텐츠를 스크롤 가능하게 설정 */

        /* 스피너 위치 지정 */

        #spinnerBackdrop {
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* 배경색과 투명도 조절 가능 */
            justify-content: center;
            align-items: center;
        }
        /* 스피너 크기와 두께 조정 */
        /* 스피너 색상 변경 */
        /* 원 스피너 스타일 조정 */
        .spinner-border {
            width: 7rem; /* 너비 조정 */
            height: 7rem; /* 높이 조정 */
            border: 0.5em solid #ffffff; /* 원 스피너로 변경 */
            border-top-color: transparent; /* 원의 나머지 부분 투명하게 설정 */
            border-radius: 50%; /* 원형으로 모양 변경 */
            animation: spin 1s linear infinite; /* 애니메이션 효과 추가 */
        }

        .spinner-border.hidden {
            display: none; /* 숨김 처리 */
        }

        @keyframes spin {
            to {
                transform: rotate(360deg); /* 회전 애니메이션 설정 */
            }
        }

        .dropdown-menu.columns-2 {
            min-width: 220px;
        }

        .dropdown-menu.columns-2 a {
            white-space: nowrap;
        }

    </style>

    <title>캠핑여행</title>


</head>

<script>

    let map; // 전역 변수로 지도 객체를 선언합니다.
    let mapX;
    let mapY;
    let cachedDataArray = []; // 데이터를 캐싱할 배열
    let googleMapsLoaded = false; // Google Maps API가 이미 로드되었는지 여부를 나타내는 플래그

    // Google 지도 API 로드
    function loadGoogleMaps() {
        if (googleMapsLoaded) {
            // 이미로드 됨, 다시로드하지 않음
            return;
        }
        fetch('/api-key')
            .then(response => response.text())
            .then(apiKey => {
                const script = document.createElement('script');
                script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
                document.head.appendChild(script);
                googleMapsLoaded = true; // 로드 완료 후 플래그 설정
            })
            .catch(error => {
                console.error('Error fetching API key:', error);
            });
    }

    // Google 지도 초기화 함수
    function initMap() {
        const mapElementInModal = document.getElementById('mapInModal');
        const longitude = mapX || 0; // 초기값 설정
        const latitude = mapY || 0; // 초기값 설정

        map = new google.maps.Map(mapElementInModal, {
            center: { lat: latitude, lng: longitude },
            zoom: 12,
        });

        // 초기화 시에도 마커 추가
        addMarker(latitude, longitude);
    }

    async function handleCardClick(contentId) {
        loadGoogleMaps();
        try {
            showSpinner();

            let data;
            const cachedData = cachedDataArray.find(item => item.camping.contentid === contentId);

            if (cachedData) {
                // 저장된 데이터 활용
                data = cachedData;
            } else {
                // 저장된 데이터가 없을 경우, 데이터를 가져오도록 요청
                data = await fetchData(contentId);
                cachedDataArray.push(data);
            }

            hideSpinner();

            // 이후에는 data를 활용하여 필요한 작업을 수행할 수 있습니다.
            console.log(data);

            mapX = parseFloat(data.camping.mapX);
            mapY = parseFloat(data.camping.mapY);

            if (data.camping) {
                const modalTitle = document.getElementById('modalTitle');
                const modalBody = document.getElementById('modalBody');
                modalTitle.textContent = data.camping.title ? data.camping.title : '사용할 수 없음';
                const myModal = new bootstrap.Modal(document.getElementById('campingModal'));

                modalBody.innerHTML = `
                            <!-- modalBody의 내용 작성 -->
                    <p>No.${data.camping.contentid}</p>
                    <img src="${data.camping.firstImageUrl ? data.camping.firstImageUrl : 'Image not available'}" alt="Camping Image" style="width: 400px; border-radius: 10px; height: auto; margin-bottom: 10px;">
                    <h2>${data.camping.title ? data.camping.title : '없음'}</h2>
                      ${data.camping.tel ? `<p>전화번호: ${data.camping.tel}</p>` : ''}
                      ${data.camping.addr1 ? `<p>주소: ${data.camping.addr1}</p>` : ''}
                      ${data.camping.induty ? `<p>캠핑장유형: ${data.camping.induty}</p>` : ''}
                      ${data.camping.operPdCl ? `<p>운영기간: ${data.camping.operPdCl}</p>` : ''}
                      ${data.camping.operDeCl ? `<p>운영일: ${data.camping.operDeCl}</p>` : ''}
                      ${data.camping.tourEraCl ? `<p>여행시기: ${data.camping.tourEraCl}</p>` : ''}
                      ${data.camping.posblFcltyCl ? `<p>주변이용가능시설: ${data.camping.posblFcltyCl}</p>` : ''}
                      ${data.camping.themaEnvrnCl ? `<p>테마: ${data.camping.themaEnvrnCl}</p>` : ''}
                      ${data.camping.animalCmgCl ? `<p>애완동물출입: ${data.camping.animalCmgCl}</p>` : ''}

                    <hr>
                    ${data.camping.intro ? `<p>소개: ${data.camping.intro}</p>` : ''}


                    `;

                myModal.show();

                // addMarker 함수를 호출하여 마커 추가
                initMap();
                addMarker(mapX, mapY);

            }
        } catch (error) {
            hideSpinner();
            console.error('Error handling card click:', error);
            throw error;
        }
    }

    // initMap 함수에서는 더 이상 addMarker 함수를 호출하지 않습니다.

    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.card');
        console.log(cards)
        // 클릭 이벤트 등록
        cards.forEach(card => {
            card.addEventListener('click',  function (event) {
                const contentId = card.getAttribute('data-contentid');

                console.log(card)
                showSpinner(); // 데이터를 가져오는 중에는 로딩 표시

                try {
                     handleCardClick(contentId);
                } catch (error) {
                    console.error('Error handling card click:', error);
                } finally {
                    hideSpinner(); // 데이터 가져오기 완료 후 로딩 숨기기
                }
            });
        });
    });
    function addMarker(mapX, mapY) {
        const mapElementInModal = document.getElementById('mapInModal');

        const longitude = mapX || 0; // 초기값 설정
        const latitude = mapY || 0; // 초기값 설정

        if (!map) {
            map = new google.maps.Map(mapElementInModal, {
                center: { lat: latitude, lng: longitude },
                zoom: 12,
            });
        }

        if (map) {
            const marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map
            });
        } else {
            console.error('Google Maps is not initialized.');
        }

        console.log(latitude);
        console.log(longitude);
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        const spinner = document.getElementById('spinnerBackdrop');
        if (spinner) {
            spinner.classList.add('show');
        } else {
            console.error('Spinner element not found');
        }
    });


    function showSpinner() {
        const spinnerBackdrop = document.getElementById('spinnerBackdrop');
        const spinner = document.querySelector('.spinner-border');
        if (spinnerBackdrop && spinner) {
            spinnerBackdrop.style.display = 'flex';
            spinner.classList.remove('hidden');
        }
    }

    // 스피너를 숨기는 함수
    function hideSpinner() {
        const spinnerBackdrop = document.getElementById('spinnerBackdrop');
        const spinner = document.querySelector('.spinner-border');
        if (spinnerBackdrop && spinner) {
            spinnerBackdrop.style.display = 'none';
            spinner.classList.add('hidden');
        }
    }

    $(document).ready(function () {
        // 네비게이션 드롭다운을 활성화합니다.
        $('.nav-item.dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
        });
    });


</script>

<body>
<th:block th:insert="~{fragments/header::header}"></th:block>
<h1>캠핑여행</h1><hr><br>

<!-- 이미지를 보여주는 부분 -->
<div id="campingCarousel" class="carousel slide" data-bs-ride="carousel">
    <h3>이달의 캠핑장</h3><br>
    <div class="carousel-inner">
        <div th:each="campingSpot, iterStat : ${campingRecommendList}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active' : ''">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <img th:src="${campingSpot.firstImageUrl}" class="card-img-top" alt="Camping Spot Image"/>
                            <div class="card-body">
                                <h5 th:text="${campingSpot.facltNm}" class="card-title" style="color: black;"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#campingCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#campingCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h3>#태그로 보는 캠핑장</h3><br>

<!-- 탭을 생성하는 부분 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/theme/camping/main?induty=카라반&lctCl=강" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                #카라반
                </a>
                <div class="dropdown-menu columns-2" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=강">#강</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=호수">#호수</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=계곡">#계곡</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=도심">#도심</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=산">#산</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=숲">#숲</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=섬">#섬</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=카라반&lctCl=해변">#해변</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/theme/camping/main?induty=글램핑&lctCl=강" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #글램핑
                </a>
                <div class="dropdown-menu columns-2" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=강">#강</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=호수">#호수</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=계곡">#계곡</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=도심">#도심</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=산">#산</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=숲">#숲</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=섬">#섬</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=글램핑&lctCl=해변">#해변</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/theme/camping/main?induty=일반야영장&lctCl=강" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #일반야영장
                </a>
                <div class="dropdown-menu columns-2" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=강">#강</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=호수">#호수</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=계곡">#계곡</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=도심">#도심</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=산">#산</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=숲">#숲</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=섬">#섬</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=일반야영장&lctCl=해변">#해변</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/theme/camping/main?induty=자동차야영장&lctCl=강" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #자동차야영장
                </a>
                <div class="dropdown-menu columns-2" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=강">#강</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=호수">#호수</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=계곡">#계곡</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=도심">#도심</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=산">#산</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=숲">#숲</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=섬">#섬</a>
                    <a class="dropdown-item" href="/theme/camping/main?induty=자동차야영장&lctCl=해변">#해변</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div>
    <a th:href="@{'/search'(area=${param.area}, areaCode=${param.areaCode})}">
        <span>캠핑장 더보기</span>
    </a>
</div>



<!-- 다른 탭에 대응하는 캠핑장을 보여주는 부분 -->
<div class="tab-content" style="background-color: #7EBCF2">
    <div class="tab-pane fade show active">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div th:each="camping : ${campingDataList}" class="m-3 d-inline-block">
                <div class="card" th:attr="induty=${camping.induty}, lctCl=${camping.lctCl}" data-bs-toggle="modal" data-bs-target="#campingModal" style="width: 18rem;">
                    <img class="card-img-top" th:src="${camping.firstImageUrl}" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${camping.facltNm}" style="text-align: center"></h5>
                        <!-- 다른 필드도 추가 가능 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- 모달 창 -->
<div class="modal fade" id="campingModal" tabindex="-50" aria-labelledby="campingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width: 500px; max-width: 1000px; overflow: auto;" >

        <div class="modal-content" >
            <!-- 모달 헤더 -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 모달 내용 -->
            <div class="modal-body" id="modalBody"  style="max-height: 50vh; overflow: auto; margin-bottom: 30px">

                <!-- 기타 정보 -->

            </div>
            <span id="mapInModal" style="height: 400px; width: 400px; border-radius: 15px; margin-left: 15px" ></span>
            <!-- 모달 푸터 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>

        </div>
    </div>
</div>

<!-- 배경과 동일한 스피너 -->
<div class="modal" id="spinnerBackdrop" tabindex="-1" aria-labelledby="spinnerBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>캠핑 story</h3>

</body>


</script>
</html>
