:root{
    --primary-color-1: #7EBCF2;
    --primary-color-2: #BDD9F2;
}
*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar, .navbar-nav, .nav-link, .navbar-brand{
    color: var(--primary-color-1);
}


/* ul 요소의 스타일 */
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* 버튼이 여러 줄에 걸쳐 표시되도록 설정 */
}

/* li 요소 스타일 */
.pagination li {
    margin: 0 5px;
}

/* 버튼 스타일 */
.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #555;
}
/* ul 요소의 리스트 스타일 제거 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

/* li 요소 스타일 (예: 여백 추가) */
li {
    margin: 5px 0; /* 필요한 여백 값으로 변경 가능 */
}

*{
    font-weight:bold;

}

.map1 img {
    /* 기본 이미지 스타일 */
    transition: transform 0.9s ease; /* 애니메이션 전환 효과 */
}

p{
    margin-bottom: 0;
}
/* 프리그먼트가 들어갈 부분의 스타일 */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh /* 화면 전체 높이에 맞추기 위해 */
}

.btn{
    margin-right: 15px;
}
.container-fluid{
    padding: 0 15px 0 30px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}