.map-container {
    position: relative;
    width: 500px; /* 한반도 지도의 너비 설정 */
    height: 500px; /* 한반도 지도의 높이 설정 */
    /* 다른 스타일 지정 */
}

.hanbando-map {

    position: absolute;

    /* 한반도 지도의 스타일 설정 */
}

.region {
    position: absolute;
    /* 각 지역별 위치와 스타일 설정 */
}

/* 서울 지역 이미지의 위치 조정 */
.seoul-region {
}

/* 부산 지역 이미지의 위치 조정 */
.busa-region {
}

/* 경기도 지역 이미지의 위치 조정 */
.gyeonggi-region {
}
/* 인천 지역 이미지의 위치 조정 */
.incheon-region {
}
/* 강원도 지역 이미지의 위치 조정 */
.gangwon-region {
    top: 80px;
    left: 250px;
}
/* 충북 지역 이미지의 위치 조정 */
.chungcheong-region {
}
/* 충남 지역 이미지의 위치 조정 */
.chungcheongnam-region {
}
/* 세종 지역 이미지의 위치 조정 */
.sejong-region {
}
/* 대전 지역 이미지의 위치 조정 */
.daejeon-region {
}
/* 전북 지역 이미지의 위치 조정 */
.jeollabuk-region {
}
/* 전남 지역 이미지의 위치 조정 */
.jeollanam-region {
}
/* 광주 지역 이미지의 위치 조정 */
.gwangju-region {
}
/* 경남 지역 이미지의 위치 조정 */
.gyeongsangnam-region {
}
/* 경북 지역 이미지의 위치 조정 */
.gyeongsangbuk-region {
}
/* 대구 지역 이미지의 위치 조정 */
.daegu-region {
}
/* 울산 지역 이미지의 위치 조정 */
.ulsan-region {
}
