.side-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 20px;
}

.side-bar-btn {
    margin-top: 100px;
    background-color: #7EBCF2;
    display: flex;

}

.side-bar-btn:hover {
    scale: 1.2;
    background-color: #007bff;
}


.clicked {
    font-weight: bold;
    background-color: #007bff;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 100px;
}

.content-wrapper {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

